@font-face {
  font-family: "NotoKrL";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Light.woff2) format("woff2"),
    url(../fonts/NotoSans-Light.woff) format("woff");
}

@font-face {
  font-family: "NotoKrR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Regular.woff2) format("woff2"),
    url(../fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoKrM";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Medium.woff2) format("woff2"),
    url(../fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "gothamL";
  src: local(※), url("../fonts/Gotham-Light.otf") format("opentype"),
    url("../fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: gothamB;
  font-weight: normal;
  src: url("../fonts/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: gothamM;
  font-weight: normal;
  src: url("../fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: playfair;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplaySC-Regular.otf") format("opentype");
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* line-height: 1.8; */
}
.wrap {
  margin: 0 auto;
  width: 1400px;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.topViewCont {
  height: 100%;
}
.topViewCont > .img_top {
  height: 100%;
}
.topViewCont > .img_top > .main_img {
  height: 100vh;
  width: 100%;
}
.topViewCont .txtCont {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.topViewCont .txtCont .category span {
  color: #fff;
  letter-spacing: 3px;
}
.topViewCont .txtCont .tit {
  font: 400 80px playfair, notokrR;
  letter-spacing: -1px;
  color: #fff;
}
.topViewCont .txtCont .txt {
  margin-top: 35px;
  font-size: 20px;
  font-family: gothamL, notokrL;
  color: #fff;
}
.topViewCont button {
  position: absolute;
  bottom: 75px;
  left: 50%;
  margin-left: -32px;
  background: url(../images/deluxe_img/btn_view_more.png) no-repeat 0 0;
  width: 65px;
  height: 45px;
  border: none;
}
.scroll_hidden {
  font-size: 0;
}
.btn {
  min-width: 190px;
  height: 60px;
  padding: 0 25px;
  line-height: 58px;
  font-size: 18px;
  letter-spacing: -0.01em;
}
.btn-box {
  border: 1px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
}
.btnArea {
  text-align: center;
  padding: 30px 0;
  background: #f9f9f9;
}
.btnArea .btn-box span {
  color: black;
  position: relative;
  display: inline-block;
  padding-left: 34px;
}
.btnArea .btn-box:nth-child(1) span::before {
  content: "";
  background: url(../images/deluxe_img/ico_btns.png) no-repeat;
  width: 24px;
  height: 25px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.btnArea > .btn-box:nth-child(2) > .love_img {
  width: 24px;
  height: 50px;
  background: url(../images/rooms_img/ico_bookmark.png) no-repeat;
  position: absolute;
  top: 17px;
  left: 27px;
}
.btnArea .btn-box:nth-child(3) {
  background-color: black;
}
.btnArea .btn-box:nth-child(3) span {
  padding-left: 0;
  color: white;
}
.info_list {
  height: 300px;
}
.info_list li {
  width: 33.33%;
  float: left;
}
.info_list li dl {
  padding-top: 52px;
}
dd {
  margin-left: 0;
}
dt {
  font-weight: bold;
}
.btn_area {
  text-align: center;
  margin-top: 40px;
}
.btn_see {
  min-width: 190px;
  height: 60px;
  padding: 0 25px;
  line-height: 58px;
  color: #000000ab;
  font-size: 18px;
  letter-spacing: -0.01em;
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}
.tit2 {
  font-weight: 500;
  font-size: 30px;
  margin: 90px 0 15px;
}
.middle_btn {
  padding-left: 0;
  border: 1px solid black;
  height: 60px;
}
.middle_btn > li {
  width: 25%;
  box-sizing: border-box;
  height: 60px;
  text-align: center;
  line-height: 60px;
  float: left;
}
.middle_btn > li > a {
  font-size: 20px;
  letter-spacing: -1px;
  color: black;
}
.middle_btn > li:nth-child(1),
.middle_btn > li:nth-child(2),
.middle_btn > li:nth-child(3) {
  border-right: 1px solid black;
}
.room_info {
  padding: 26px 40px 30px;
  margin-top: 35px;
  background: #f9f9f9;
  height: 200px;
}
.room_info > li {
  width: 33.33%;
  float: left;
  padding: 7px 0 0 60px;
  box-sizing: border-box;
}
.room_info > li:nth-child(3n + 1) {
  padding-left: 0;
}
.default_Cont {
  border-top: 1px solid #000;
  border-bottom: 1px solid #ccc;
  padding: 53px 52px;
  height: 110px;
}
.default_Cont p a {
  margin-left: 5px;
  color: black;
  border-bottom: 1px solid black;
}
.default_Cont li {
  float: left;
  width: 33.33%;
  padding-left: 60px;
  box-sizing: border-box;
}
.default_Cont li:first-child {
  padding-left: 0;
}
.default_Cont li .tit {
  display: block;
  font-size: 30px;
  font-weight: 500;
}
.special_wrap {
  padding-left: 0;
  margin: 0;
}
.special_wrap > .special_list {
  padding: 62px 0 70px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.special_wrap > .special_list:nth-child(5) {
  border-bottom: none;
}
.special_wrap > .special_list:nth-child(1) {
  padding-top: 0;
}
.special_wrap > .special_list:nth-child(4) .special_txt > p:nth-child(4),
.special_wrap > .special_list:nth-child(4) .special_txt > p:nth-child(5),
.special_wrap > .special_list:nth-child(4) .special_txt > p:nth-child(6) {
  position: relative;
  margin: 3px 0 0;
  padding-left: 16px;
  color: #888;
}
.special_wrap
  > .special_list:nth-child(4)
  .special_txt
  > p:nth-child(4)::before,
.special_wrap
  > .special_list:nth-child(4)
  .special_txt
  > p:nth-child(5)::before,
.special_wrap
  > .special_list:nth-child(4)
  .special_txt
  > p:nth-child(6)::before {
  content: "＊";
  position: absolute;
  left: 0;
  top: 4px;
}
.special_wrap > .special_list > dl {
  position: relative;
  padding-left: 434px;
  min-height: 274px;
}
.special_wrap > .special_list > dl > .special_txt > p:nth-child(1) {
  margin-bottom: 61px;
}
.special_wrap > .special_list > dl > .special_txt > p:nth-child(2) {
  margin: 0;
}
.special_wrap > .special_list > dl > .special_txt > p:nth-child(3) {
  position: relative;
  margin: 3px 0 0;
  padding-left: 16px;
  color: #888;
}
.special_wrap > .special_list > dl > .special_txt > p:nth-child(3)::before {
  content: "＊";
  position: absolute;
  left: 0;
  top: 4px;
}
.special_wrap
  > .special_list:nth-child(5)
  > dl
  > .special_txt
  > p:nth-child(3) {
  padding-left: 0;
}
.special_wrap
  > .special_list:nth-child(5)
  > dl
  > .special_txt
  > p:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
}
.kids_btn {
  color: black;
}
.special_wrap > .special_list > dl > dt {
  padding-bottom: 10px;
  font-size: 30px;
}
.special_wrap > .special_list > dl > .pool_img {
  position: absolute;
  left: 0;
  top: 8px;
}
.special_wrap > .special_list > dl > .pool_img > img {
  width: 385px;
}
a[href="#scroll"] {
  display: block;
  width: 100%;
  height: 100%;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.hidden {
  display: none;
}
.modal__content {
  width: 700px;
  height: 300px;
  background-color: white;
  position: relative;
}
.modal__content a[href="#"] {
  color: black;
}
.modal__content a[href="#"]::before {
  content: "";
  display: block;
  width: 66px;
  height: 66px;
  margin: 0 auto 10px;
}
.modal__content li:nth-child(1) a::before {
  background: url(../images/deluxe_img/ico_share.png) no-repeat;
}
.modal__content li:nth-child(2) a::before {
  background: url(../images/deluxe_img/ico_share.png) no-repeat 50%;
}
.modal__content li:nth-child(3) a::before {
  background: url(../images/deluxe_img/ico_share.png) no-repeat 100%;
}
.modal__content > h2 {
  margin-top: 50px;
}
.modal__content > div > ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}
.modal_closeBtn {
  background: url(../images/deluxe_img/btn_close_25x25.png) no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
}
.noticeArea {
  border: 1px solid #eee;
  padding: 35px 35px 40px 40px;
  clear: both;
}
.noticeArea > ul > li {
  float: none;
  padding-left: 12px;
  position: relative;
  color: rgb(136, 136, 136);
}
.noticeArea > ul > li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 15px;
  width: 2px;
  height: 2px;
  background: #000;
}
.noticeArea > ul {
  padding-left: 0;
}
.ask_number {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding-top: 30px;
}
.ask_number h3 {
  display: inline-block;
}
.ask_number span,
.ask_number span a {
  color: rgb(136, 136, 136);
}
.ask_number span a {
  padding-left: 7px;
}
.ask_number span:nth-child(2) {
  padding-left: 10px;
}
.ask_number span:nth-child(2)::after {
  content: "|";
  width: 30px;
  display: inline-block;
  text-align: center;
}
#love_btn {
  position: relative;
}
img[src="./images/rooms_img/01_Deluxe.jpeg"] {
  width: 100%;
}
