@font-face {
  font-family: "NotoKrL";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Light.woff2) format("woff2"),
    url(../fonts/NotoSans-Light.woff) format("woff");
}

@font-face {
  font-family: "NotoKrR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Regular.woff2) format("woff2"),
    url(../fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoKrM";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Medium.woff2) format("woff2"),
    url(../fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "gothamL";
  src: local(※), url("../fonts/Gotham-Light.otf") format("opentype"),
    url("../fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: gothamB;
  font-weight: normal;
  src: url("../fonts/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: gothamM;
  font-weight: normal;
  src: url("../fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: playfair;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplaySC-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* 스타일을 주기위해서 초기화(처음으로 되돌리는 작업) */
  font-weight: normal;
  font-size: inherit;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  border: none;
  vertical-align: middle;
} /* 수직정렬 가운데로 */

.clear::after {
  /* 가상으로 요소를 만들고 걔를 clear시켜 다음것부터는 정상적으로 배치되도록 해줌 */
  content: "";
  display: block;
  clear: both;
}
#container {
  width: 100%;
  height: 1500px;
  background-color: rgb(205, 194, 206);
}

/* ---------------------- 헤더 시작 ---------------------- */
header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  z-index: 100;
}

.header_area > .header_cont > .top_bar > .left_topbar {
  float: left;
}

.header_area > .header_cont > .top_bar > .right_topbar {
  float: right;
}
.header_area .header_cont .top_bar .right_topbar li:nth-child(-n + 3)::after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
  font-size: 10px;
  color: white;
  line-height: 1;
}
.top_bar {
  background-color: black;
  width: 100%;
  height: 50px;
  line-height: 50px; /* height와 line-height에 똑같은 값을 주면 세로 중앙 정렬 됨! */
  font-size: 12px;
}
.top_bar > div > li {
  display: inline-block; /* 텍스트 내용들 한줄에 배치됨! */
}
.top_bar > div > li > a {
  color: #bbbbbb;
}
.left_topbar > li > a {
  margin: 0;
  padding: 15px;
}
.hotel_search:after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 5px;
  background: url(../images/main_img/ico_search_11x11.png) no-repeat 0 0;
}
.language_select:after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 4px;
  height: 8px;
  background: url(../images/main_img/ico_lang.png) no-repeat 0 0;
}

.left_topbar {
  padding-left: 50px;
}
.right_topbar {
  padding-right: 50px;
}
.gnb {
  /* 스크롤시 나오는 헤더 */
  position: relative;
  background: transparent;
  padding: 20px 50px;
  height: 30px;
  display: flex; /* 네비게이션 바 전부 다 한줄에 배치 */
}
.gnb1 {
  /* 메인 헤더 */
  position: relative;
  background: transparent;
  padding: 30px 50px;
  height: 30px;
  display: flex; /* 네비게이션 바 전부 다 한줄에 배치 */
}

.dropdown {
  margin-top: 8px;
  font-size: 15px;
}
.reservation {
  padding-left: 20px;
  padding-right: 65px;
  margin-right: 0px;
}
.rooms {
  padding-left: 20px;
}
.dropdown-menu {
  padding-left: 35px;
  padding-right: 15px;
  margin: 0;
}

.logo {
  z-index: 100;
}

.logo > a {
  display: block;
  left: 50px;
  width: 118px;
  height: 42px;
  text-indent: -9999px;
  background: url(../images/main_img/bg_logo_grand.png) no-repeat 0 -42px;
}
.logo > a::after {
  background-position: 0 0;
}
.reservation > a:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 10px;
  margin-top: 6px;
  margin-left: 8px;
  background: url(../images/main_img/ico_rsv.png) no-repeat 0 -10px;
  cursor: pointer;
}
/* reservation로고 색 변환 */
.reservation > a:hover:after {
  background-position: 0 -20px !important;
}
.reservation {
  margin-left: 50px;
}

/* .reservation:after:hover .res {
    color: #ba998c !important;
  } */

.gnb > p {
  margin-top: 11px;
  font-size: 11px;
}

.dropdown:nth-child(n + 2) {
  padding-left: 2px;
}

.header > .header_area > .header_cont > nav > ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

/* .dropdown {
    position: relative;
  }  네비게이션바 세부메뉴 가로 배치 -> 세로배치 됨 */
.dropdown-content > div {
  display: inline-flex;
}
.main_roomlist > li {
  display: flex;
  flex-direction: column;
}
.hill_roomlist > li {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.reservation,
.rooms,
.dining__,
.offers,
.mw,
.activity,
.facilities,
.about {
  height: 50px;
}

/*----------  마우스 올리면 네비게이션 바 변경 시작 ----------*/
.dropdown-menu > b:hover {
  border-bottom: 2px solid #ba998c;
  padding-bottom: 1.5px;
  color: #ba998c;
}

/*----------  마우스 올리면 네비게이션 바 변경 끝 ----------*/

.gnb1 > .dropdown:hover .dropdown-content {
  /* 네비게이션 바 메뉴에 마우스 올리면 안의 세부 내용들 보여줌 */
  display: block;
  width: 100%;
  left: 0;
  padding-top: 0px; /*네비게이션 바 서브메뉴 높이 조정 */
}

.reservation > .dropdown-menu > b:hover {
  border: none;
}

/* .gnb:hover {
    /* 네비게이션 바 세부 메뉴에 마우스 올리면 색상 변경 
    background-color: #f1f1f1;
  } */

.nav_list {
  display: flex;
  flex-direction: column; /* 한눈에 보기가 내려감 */
}

.dropdown-content > strong {
  font-size: 24px;
  padding-left: 100px;
  margin-left: 120px;
}
.nav_list > strong {
  font-size: 24px;
  padding-left: 100px;
  margin-left: 120px;
  font-weight: 900;
}
.nav_list > a {
  margin-left: 120px;
  padding-left: 100px;
}
.nav_list > a > span {
  font-size: 14px;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.dropdown-content > div > li > a {
  /*세부 굵은 글씨*/
  font-size: 15px;
  font-weight: bold;
}

.dropdown-content > div {
  margin: 10px 0 10px 50px;
}
.dropdown-content > div > li {
  margin-left: 70px;
  padding-left: 15px;
}

.nav_list {
  float: left;
}
.dining > .two {
  display: flex;
  margin-left: 410px;
}
.main_roomlist > li > a {
  color: #666;
}
.hill_roomlist > li > a {
  color: #666;
}
/* ------------------- 스크롤 시 나오는 헤더 시작 ------------------- */
#nav_bar {
  background-color: white;
  position: fixed;
  top: -1000000px; /* 이거 써야 맨처음에 안보임 */
  width: 100%;
  display: block;
}
.logo_ {
  margin-right: 20px;
  margin-top: 8px;
}
.dropdown_new {
  position: relative;
}

.dc_new {
  height: 570px;
  background-color: white;
}

.dc_new > div {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.dc_new > div > li {
  padding: 0;
  margin: 0;
}
.dining__- {
  padding-right: 10px;
}
.dining > .two_new {
  margin: 0;
}
.reservation_ {
  margin-left: 10px;
  padding-right: 10px;
}
.rooms_ {
  padding-left: 25px;
  padding-right: 10px;
}

.facilities_ {
  padding-left: 22px;
  padding-right: 22px;
}

.dm-new {
  padding-left: 47px;
  padding-right: 47px;
}
#nav_bar {
  border-bottom: 1.5px solid lightgray;
}

.gnb:hover .dc_new {
  /* gnb에 마우스 올리면 서브메뉴 전체 다 보여줌 */
  display: block;
  width: 100%;
  left: 0;
  padding-top: 20px;
  text-align: center;
}

.gnb_new:hover {
  height: 600px;
}
/* .dropdown:hover {
    pointer-events: none;
  } */
.dropdown_new {
  margin-bottom: 10px;
}
.main_roomlist_ {
  display: none;
}
.mainbuilding_list_ > li > button {
  border: none;
  background-color: white;
  font-size: 13.5px;
  font-weight: bold;
}
.hill_roomlist_ {
  display: none;
}
.hillbuilding_list_ > li > button {
  border: none;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
}
.main_roomlist_ > li {
  display: flex;
  flex-direction: column;
}
.hill_roomlist_ > li {
  display: flex;
  flex-direction: column;
}
.main_roomlist_ > li > a {
  color: #666;
}
.hill_roomlist_ > li > a {
  color: #666;
}

.mainbuilding_list_ > li > button {
  cursor: pointer;
  margin-top: 15px;
}

.hillbuilding_list_ > li > button {
  cursor: pointer;
  margin-top: 27px;
}

.selec {
  background: white;
  color: #ba998c;
}
/* ---------------------- 푸터 시작 ---------------------- */
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  display: block;
  background-color: black;
  color: white;
}

.foot_list1 {
  display: flex;
  padding-block-start: 2em;
  padding-block-end: 1em;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-inline-start: 220px; /*외부 사이트 로고 가운데 정렬*/
}
.foot_list1 > li {
  margin-left: 20px;
  padding-left: 30px;
}
.social {
  display: flex;
}
/* 
  .foot_list1 > li :first-child {
    margin-left: 20px;
  } */

.foot_bottom {
  display: flex;
  padding: 30px 5px 100px 100px;
}

.official_website > a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 150px;
  height: 70px;
  background: url(../images/main_img/bg_logo_footer.png) no-repeat 0 0px;
  margin-left: 130px;
  margin-top: 30px;
}

.foot_list2 > li > a {
  color: white;
  margin-right: 28px;
  font-size: 14px;
}
.foot_list2 {
  display: flex;
  margin-left: 130px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.info {
  margin-left: 130px;
  padding-top: 5px;
}
.info > span {
  font-size: 14px;
  color: gray;
}

.foot_list2 > li:nth-child(5n) > a {
  color: #989442;
}
select {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 230px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: black;
  color: lightgray;
  font-size: 18px;
  cursor: pointer;
}
select option {
  font-size: 12px;
}
select:focus {
  outline: none;
}

.social {
  display: flex;
}

.external_site2 {
  margin-left: 130px;
}
.social > li {
  margin: 5%;
}
