  /* 회원가입 2단계 */
  .stepWrap * {
      vertical-align: top;
  }
  .stepWrap ol li * {
      vertical-align: top;
  }
  .stepWrap ol li:last-child.on:after {
      position: absolute;
      left: -12px;
      top: 18px;
  }
  .stepWrap ol li.on:after {
      content: '';
      display: inline-block;
      width: 50px;
      height: 1px;
      background: #aaa;
      margin-left: 20px;
      vertical-align: middle;
  }
  .stepWrap ol li.prev:before {
      border: none;
      text-indent: -9999px;
      background: url(../images/bg_step.png) no-repeat;
  }
  .stepWrap ol li:before {
      counter-reset: section 1;
      content: counter(section);
      counter-increment: section;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 37px;
      color: #9b9fa8;
      font-size: 20px;
      border: 1px solid #9b9fa8;
      border-radius: 40px;
      text-align: center;
      text-indent: 0;
      box-sizing: border-box;
      z-index: 2;
      background: #fff;
      font-family: gothamL;
  }
  .stepWrap {
      margin-top: 50px;
  }
  .stepWrap ol li:last-child.on:before {
      left: 80px;
  }
  .stepWrap ol li.on:before {
      background: #000;
      color: #fff;
      border-color: #000;
  }
  .stepWrap ol li em {
      text-indent: -9999px;
      overflow: hidden;
      white-space: nowrap;
      word-wrap: normal;
      font-size: 22px;
      }

      .stepWrap ol li {
            text-indent: -9999px;
            position: relative;
            display: inline-block;
            padding: 0 0 1px 50px;
            box-sizing: content-box;
      }

      .stepWrap ol li:last-child.on {
            padding-left: 135px;
      }

      .stepWrap ol li.on {
            margin-right: 20px;
            text-indent: 0;
            width: auto;
      }