@font-face {
  font-family: "NotoKrL";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Light.woff2) format("woff2"),
    url(../fonts/NotoSans-Light.woff) format("woff");
}

@font-face {
  font-family: "NotoKrR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Regular.woff2) format("woff2"),
    url(../fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoKrM";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Medium.woff2) format("woff2"),
    url(../fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "gothamL";
  src: local(※), url("../fonts/Gotham-Light.otf") format("opentype"),
    url("../fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: gothamB;
  font-weight: normal;
  src: url("../fonts/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: gothamM;
  font-weight: normal;
  src: url("../fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: playfair;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplaySC-Regular.otf") format("opentype");
}
* {
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  display: block;
}
#wrap {
  height: 100%;
  position: relative;
}
body,
input,
textarea,
select,
button,
table,
th,
td,
pre {
  color: #000;
  font-family: notokrL, gothamL, playfair;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  height: 60px;
  padding: 8px 13px 8px 0;
  padding: 7px 13px 9px 0\0IE;
  color: #000;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  vertical-align: middle;
  font-size: 18px;
  font-family: gothamL, notokrL;
}

fieldset {
  border: none;
}
#container {
  width: 1500px;
  margin: auto;
  padding-top: 100px;
  height: 100%;
}

.qa_txt {
  width: 1400px;
  height: 170px;
  padding-top: 97px;
  padding-bottom: 90px;
}
.qa_txt > h1 {
  font: 500 60px playfair;
  font-feature-settings: "lnum", "pnum";
  margin-bottom: 15px;
}
.qa_txt > h3 {
  font-size: 20px;
  font-family: notokrL, gothamL, playfair;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
}
.qa_txt > h3:first-child {
  margin-top: 18px;
}
.left_list {
  width: 300px;
  padding: 52px 35px 44px;
  background: #f9f9f9;
  margin: 0;
  float: left;
}
.left_list > a {
  display: block;
  text-decoration: none;
  color: #000;
}
.left_list > a:first-child {
  font: 600 18px/38px gothamL;
}
.qa_form_area {
  float: right;
}
.qa_form_area > h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}
.gray_area {
  display: flex;
  background: #f9f9f9;
  width: 940px;
  height: 33px;
  padding: 40px 30px;
}
.gray_area > h4 {
  font: 400 18px/1 notokrL;
}
.gray_area > a {
  margin-left: 470px;
  border: 1px solid black;
  text-decoration: none;
  color: #000;
  margin-top: -25px;
  padding: 0 60px 0 20px;
  line-height: 33px;
}
.appForm {
  padding: 0;
}
fieldset {
  padding: 0;
  margin-top: 15px;
}

.pilsoo::after {
  content: "";
  display: inline-block;
  /* position: absolute;
      right: 0;
      top: 50%; */
  width: 6px;
  height: 6px;
  background: url(../images/q&a_img/ico_essential.png) no-repeat 0 0;
}
.radio_list > label {
  /* 얘네에 before로 이미지 걸기 */
  display: inline-block;
  position: relative;
  font-size: 17px;
  padding-left: 35px;
  font-family: gothamL, notokrL;
}
.radio_list > input {
  position: absolute;
  left: 12px;
  top: 16px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.select_hotel > option {
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 0 20px;
  font-family: gothamL, notokrL;
}
.title_area > input {
  height: 44px;
  width: 910px;
  outline: none;
}
.content_area > textarea {
  height: 115px;
  width: 910px;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
  font-size: 16px;
}
.content_area > p::before {
  content: "*";
  position: absolute;
  left: 0;
  top: 4px;
  font: 600 15px gothamL;
}
.content_area > p {
  position: relative;
  color: #888;
  padding-left: 16px;
  font: 16px gothamL, notokrL, playfair;
}
.name_area > input {
  height: 44px;
  width: 440px;
  outline: none;
}
.tel_list > input {
  width: 152px;
  height: 43px;
  padding: 8px 13px 8px 0px;
  outline: none;
}
.ico_space {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.email_area {
  display: flex;
}
.email_area > .ico_space {
  margin-top: 20px;
}
.email_area > input {
  outline: none;
  font-family: gothamL, notokrL;
  width: 244px;
  height: 43px;
}
.select_common {
  margin-top: 20px;
}
.filebox {
  display: flex;
}
.filebox > input {
  outline: none;
}
.txtGuide {
  position: relative;
  color: #888;
  padding-left: 16px;
  font: 16px gothamL, notokrL, playfair;
}
.txtGuide::before {
  content: "*";
  position: absolute;
  left: 0;
  top: 4px;
  font: 600 15px gothamL;
}
.agree {
  margin: 74px 0 24px;
  font: 500 24px gothamB, notokrR;
}
/* 민지 */
.filebox .upload-name1,
.upload-name2,
.upload-name3 {
  display: inline-block;
  height: 43px;
  padding: 8px 13px 8px 0;
  width: 541px;
  color: #000;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  vertical-align: middle;
  font-size: 18px;
  font-family: gothamL, notokrL;
  margin-right: 10px;
}
.filebox label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000;
  border: 1px solid #000;
  background: #fff;
  transition: color 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
  font-family: gothamL, notokrL;
  min-width: 162px;
  height: 50px;
  padding: 0 25px;
  line-height: 48px;
  font-size: 17px;
  letter-spacing: -0.01em;
  cursor: pointer;
  margin-top: 10px;
}
.fileUpload label {
  margin-left: 20px;
}

.fileUpload > .filebox {
  position: absolute;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.radio_list > label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 26px;
  height: 26px;
  background: url(../images/q&a_img/spr_form.png) no-repeat;
  background-position: -52px -13px;
}

.toggleCont {
  position: absolute;
  display: none;
}
.show {
  display: block;
}
