.ui-datepicker {
  font: 9pt;
  position: relative;
  float: none;
  width: 508px;
  margin: 0 auto;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-group-first {
  float: left;
  width: 476px;
  margin-left: -250px;
}
.ui-datepicker-group-last {
  width: 476px;
  margin-left: 350px;
}
.ui-datepicker-header {
  color: black;
  line-height: 30px;
  border-width: 0 0 0 0;
  border-style: solid;
  font-family: gothamB;
  font-weight: 600;
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.ui-datepicker-year,
.ui-datepicker-month {
  font-family: gothamB;
  font-weight: 600;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: block;
  position: absolute;
  top: 200px;
  text-indent: -9999px;
  overflow: hidden;
  width: 37px;
  height: 72px;
  background: url(../images/prev_next.png) no-repeat;
}
/* .btnMonth.ui-state-disabled {
  opacity: 0.3;
} */

.ui-datepicker-prev {
  left: -400px;
  background-position: 0 0;
}
.ui-datepicker-next {
  right: -400px;
  background-position: -37px 0;
}

.ui-datepicker-calendar thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.ui-datepicker-calendar thead th {
  width: 68px;
  height: 68px;
  color: #000;
  font-size: 16px;
  text-align: center;
  font-family: gothamL;
  text-transform: uppercase;
}

.ui-datepicker-calendar > thead th:first-child,
.ui-datepicker-calendar > tbody td:first-child a {
  color: red;
}

.ui-datepicker-calendar tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.ui-datepicker-calendar tbody td {
  position: relative;
  width: 68px;
  height: 68px;
  font-size: 18px;
  text-align: center;
}

.ui-datepicker th,
.ui-datepicker td {
  text-align: center;
  font-family: gothamL;
}

.ui-datepicker-today {
  background: #f0f0f0;
  border-radius: 100%;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: black;
}

.ui-datepicker-other-month.ui-datepicker-unselectable .ui-state-default {
  color: transparent;
}

.ui-datepicker-current-day {
  border-radius: 100%;
  background-color: #72715c;
  z-index: 11;
}

.ui-datepicker-current-day .ui-state-active {
  color: white;
}

.revIng::before {
  content: "";
  display: block;
  position: absolute;
  left: -50%;
  top: 4px;
  width: 100%;
  height: 60px;
  background: #959585;
}

.revOn {
  background: #72715c;
  border-radius: 100%;
  z-index: 11;
}

/* .revOff a {
} */
