@charset "utf-8";

@font-face {
  font-family: "NotoKrL";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Light.woff2) format("woff2"),
    url(../fonts/NotoSans-Light.woff) format("woff");
}

@font-face {
  font-family: "NotoKrR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Regular.woff2) format("woff2"),
    url(../fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoKrM";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Medium.woff2) format("woff2"),
    url(../fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "gothamL";
  src: local(※), url("../fonts/Gotham-Light.otf") format("opentype"),
    url("../fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: gothamB;
  font-weight: normal;
  src: url("../fonts/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: gothamM;
  font-weight: normal;
  src: url("../fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: playfair;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplaySC-Regular.otf") format("opentype");
}

body,
p,
h1,
h2,
h3,
ul,
ol,
li,
dl,
dt,
dd,
div,
button,
textarea,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  word-wrap: break-word;
}

body,
button,
textarea,
input {
  color: black;
  font-family: notokrL, gothamL, playfair;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
}

div {
  display: block;
}

em {
  font-style: normal; /*이탈릭체 해결*/
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul::after,
ol::after {
  content: "";
  display: block;
  clear: both;
}

a,
button {
  cursor: pointer;
}

button {
  box-sizing: border-box;
  border: none;
  background: none;
}

textarea {
  font-family: gothamL, notokrL;
  resize: none;
  font-size: 16px;
}

.wrapper {
  position: relative;
  min-width: 1500px;
  min-height: 100%;
  height: auto;
}

.top {
  display: table;
  position: relative;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.topInner {
  padding-top: 97px;
  padding-right: 0px;
  padding-bottom: 82px;
  padding-left: 0px;
}

.Innertitle {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  font-family: playfair;
}

/* step */
.stepWrap {
  margin-top: 50px;
}

.stepWrap * {
  vertical-align: top;
}

.stepWrap ol {
  /*이 부분 중요*/
  counter-reset: section;
}

.stepWrap ol li * {
  vertical-align: top;
}

.stepWrap ol li {
  text-indent: -9999px; /*imp*/
  position: relative;
  display: inline-block;
  padding: 0 0 1px 50px;
  box-sizing: content-box;
}

.stepWrap ol li.on {
  text-indent: 0; /*import*/
  margin-right: 20px;
  width: auto;
}

.stepWrap ol li::before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 37px;
  color: gray;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 40px;
  text-align: center;
  text-indent: 0;
  box-sizing: border-box;
  z-index: 2;
  background: white;
  font-family: gothamL;
}

.stepWrap ol li.on::before {
  background: black;
  color: white;
  background-color: black;
}

.stepWrap ol li.prev::before {
  border: none;
  text-indent: -9999px;
  background-image: url(../images/check.png);
}

.stepWrap ol li em {
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 22px;
}

.stepWrap ol li:last-child.on {
  padding-left: 135px;
}
.stepWrap ol li:last-child.on::after {
  position: absolute;
  left: -12px;
  top: 18px;
}
.stepWrap ol li:last-child.on::before {
  left: 80px;
}

.stepWrap ol li.on::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: gray;
  margin-left: 20px;
  vertical-align: middle;
}

/* result */
.result {
  background: #f9f9f9;
  margin-bottom: 100px;
}

.Inner {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 180px;
}

.result .Inner {
  padding: 42px 0;
}

.result .resultInfo {
  position: relative;
}

.result .resultInfo dl {
  float: left;
}

.result .resultInfo dl.dl01,
.result .resultInfo dl.dl02 {
  padding-right: 110px;
}

.result .resultInfo dl dt {
  font-family: gothamM, notokrM;
  font-size: 14px;
  padding-bottom: 5px;
}

.result .resultInfo dl dd {
  font-family: gothamL, notokrL;
  font-size: 20px;
}

.result .resultInfo dl.dl02 dt {
  padding-bottom: 2px;
}

.result .resultInfo dl.dl02 dd span::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1px;
  height: 18px;
  background: gray;
  margin: 0 15px;
}

.result .resultInfo dl.dl03 {
  text-align: center;
  padding-right: 70px;
}

.result .resultInfo::after {
  content: "";
  display: block;
  clear: both;
}

/* 다시 검색 버튼 */
.result .btn {
  position: absolute;
  right: 0;
  top: 50px;
  padding: 0 40px 0 20px;
  background: transparent;
  height: 50px;
  line-height: 48px;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
  border: 1px solid black;
  z-index: 1;
  font-family: gothamL, notokrL;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.result .btn::after {
  right: 20px;
  width: 7px;
  height: 13px;
  margin-top: -7px;
  background-image: url(../images/arrow.png);
  content: "";
  display: block;
  position: absolute;
  top: 50%;
}

/* main */
.Innertitle2 {
  position: relative;
}

.tab {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tab li {
  position: relative;
  display: table-cell;
  width: 234px;
  border: solid gray;
  border-width: 1px 0 0 1px;
}
/* 왼+위로 구분  */

.tab li:last-child {
  border-right: 1px solid gray;
}
/* 세번째 박스 오른선까지 */

.tab li.on + li {
  border-left: 0;
}
/* 선 겹침 방지 */

.tab li.on {
  z-index: 10;
  border: 1px solid black;
  border-bottom: 0;
}

.tab li::after,
.tab::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: black;
}
/* 아래 밑줄 */
.tab li.on::after {
  background: white;
}

.tab li:first-child.on a {
  margin-left: 0;
}

.tab li.on a {
  color: black;
}

.tab li a {
  display: block;
  height: 60px;
  line-height: 60px;
  color: #666;
  text-align: center;
  font-size: 20px;
  font-family: gothamL, notokrL;
  letter-spacing: -1px;
  text-transform: uppercase;
}

/* 룸 목록 */
.roomContainer {
  position: relative;
  padding-bottom: 20px;
}

.banner {
  padding: 30px 0 0 0;
  font-weight: 600;
}

.banner .bannertitle {
  min-width: 230px;
  margin-right: 50px;
  display: inline-block;
  background-color: #b6a29a;
  text-align: center;
  color: white;
  font-size: 17px;
}

.btnline {
  display: inline-block;
  line-height: 1.25;
  font-size: 14px;
}

.banner .btnline {
  margin-left: 20px;
}

.btnline::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: black;
}

.roomContainer .roomlist > li {
  border-bottom: 1px solid gray;
  padding: 71px 0;
}

.roomContainer .roomInfo {
  position: relative;
  padding-left: 585px;
  min-height: 352px;
}

.roomContainer .roomInfo .roomName {
  display: block;
  font-size: 40px;
  font-family: playfair;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  margin-bottom: 14px;
  padding-top: 50px;
}

.roomContainer .roomInfo .keyword {
  position: absolute;
  left: 585px;
  top: 0;
}
.keyword > span {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 3px 10px 4px 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: gothamL, notokrL;
  line-height: 1.5;
  text-transform: uppercase;
  border: 1px solid black;
  vertical-align: top;
}

.roomContainer .roomInfo .roomBenefit {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roomContainer .roomInfo .btnPop {
  margin-top: 10px;
}

.roomContainer .roomInfo .btnPop a {
  font-size: 14px;
  min-width: auto;
  padding: 0;
  position: relative;
  background: transparent;
  display: inline-block;
  border: 0;
  vertical-align: top;
}

.roomContainer .roomInfo .btnPop a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  transform: inherit;
  top: inherit;
}

.roomContainer .roomInfo .date {
  position: absolute;
  left: 585px;
  bottom: 78px;
  font-family: gothamL, notokrL;
  font-size: 20px;
}

.roomContainer .roomInfo .pricewrap {
  position: absolute;
  left: 585px;
  bottom: -7px;
}

.roomContainer .roomInfo .pricewrap > * {
  display: block;
}

.roomContainer .roomInfo .pricewrap .price {
  font-size: 40px;
  font-family: playfair;
  font-feature-settings: "lnum", "pnum";
}

.roomContainer .roomInfo .pricewrap .price em {
  display: inline-block;
  vertical-align: 6px;
  font-size: 24px;
  font-family: gothamL, notokrL;
  letter-spacing: -1px;
  margin-left: 3px;
}

.roomContainer .roomInfo .pricewrap .day {
  font-size: 16px;
  font-family: gothamL, notokrL;
  letter-spacing: -1px;
}

.roomContainer .roomInfo .image {
  position: absolute;
  left: 0;
  top: 0;
}

.roomContainer .roomInfo .image img {
  width: 508px;
}

/* toggle */

.roomContainer .btnRes {
  position: absolute;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  font-size: 18px;
  padding: 20px 132px 20px 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  z-index: 1;
  font-family: gothamL, notokrL;
}

.roomContainer .btnRes::after {
  content: "";
  display: block;
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -5px;
  width: 18px;
  height: 10px;
  background-image: url(../images/res_button.png);
}
.noData {
  text-align: center;
  padding: 130px 0;
  width: 100%;
  font-size: 16px;
}

.noData .txt::before {
  content: "";
  display: block;
  width: 3px;
  height: 45px;
  margin: 0 auto 30px auto;
  background-image: url(../images/exclamation_mark.gif);
}

/* ------------------------------------------ */

.resRoomWrap {
  min-height: 800px;
}

.resRoomWrap .leftCont {
  width: 900px;
}
.resRoomWrap .Conttitle {
  margin-bottom: 10px;
  font-family: playfair;
  font-feature-settings: "lnum", "pnum";
  font-weight: 500;
  font-size: 40px;
}

.resRoomWrap .Conttext {
  font-family: gothamL, notokrL;
  margin-bottom: 30px;
}

.roomRes > li.toggleOn {
  border-bottom: 0;
  border-top: 1px solid #000;
}

.roomRes > li {
  padding: 21px 20px 22px 20px;
  position: relative;
}

.roomRes > li .listTitle {
  font-weight: 400;
  font-size: 22px;
  font-family: gothamB, notokrL;
}

.roomRes > li .btnToggle {
  position: absolute;
  right: 18px;
  top: 24px;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
}

.roomRes > li.toggleOn .btnToggle::before {
  background-position: -28px 5px;
}

.roomRes > li .btnToggle::before {
  content: "";
  display: block;
  width: 28px;
  height: 15px;
  padding: 6px 0 7px 0;
  background-image: url(../images/res_button.png);
}

.roomRes > li .toggleCont {
  position: relative;
}

.toggleCont .toogleInner {
  padding-bottom: 0;
  padding: 33px 0;
}

.resRoomWrap .OptionTitle {
  display: block;
  font-weight: 500;
  font-size: 14px;
  font-family: gothamB, notokrM;
  text-transform: uppercase;
  padding: 40px 0 12px 0;
}

.toogleInner > .OptionTitle:first-child {
  padding-top: 0;
}

.addOption {
  position: relative;
  padding-right: 200px;
  min-height: 35px;
}

.addOption .txt {
  display: inline-block;
  vertical-align: middle;
}

.addOption .price {
  display: inline-block;
  position: relative;
  padding-left: 16px;
  margin-left: 13px;
  font-family: gothamL, notokrL;
  vertical-align: middle;
}

.addOption .price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 16px;
  margin-top: -8px;
  background: gray;
}

.resRoomWrap .textGuide,
.resRoomWrap .textGuide2 {
  margin-top: 14px;
}

p.textGuide,
.textGuide li {
  position: relative;
  color: gray;
  padding-left: 16px;
  font-size: 16px;
  font-family: gothamL, notokrL, playfair;
}

p.textGuide::before,
.textGuide li::before {
  content: "*";
  position: absolute;
  left: 0;
  top: 4px;
  font-weight: 600;
  font-size: 15px;
  font-family: gothamL;
}

.toggleCont textarea {
  border: 1px solid #ccc;
  padding: 10px 15px;
  width: 100%;
  height: 160px;
}

.toggleCont textarea + .textGuide {
  margin-top: 8px;
}

.resRoomWrap .rightCont {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
}

.resRoomWrap .rightCont .rContList > li.toggleOn {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.resRoomWrap .rightCont .rContList > li {
  padding: 34px 40px 28px 40px;
}

.rContList > li:last-child.toggleOn {
  border-bottom: 0;
}

.rContList > li.toggleOn {
  border-top: 1px solid #000;
}

.rContList > li {
  position: relative;
}

.resRoomWrap .rightCont .ListTit {
  font-size: 16px;
  color: #989442;
  vertical-align: top;
}

.rContList > li .ListTit {
  font: 400 22px gothamB, notokrL;
}

.resRoomWrap .rightCont .ListTit .price {
  display: block;
  color: black;
  font-size: 22px;
  line-height: 1;
  padding-bottom: 12px;
  margin-top: -4px;
  font-family: gothamL;
}

.resRoomWrap .rightCont .ListTit .price em {
  display: inline-block;
  vertical-align: -5px;
  font-size: 36px;
  font-family: playfair;
  margin-right: 3px;
  font-feature-settings: "lnum", "pnum";
}

.resRoomWrap .rightCont .designscroll {
  overflow: inherit;
  position: relative;
}

.resRoomWrap .rightCont .scrollWrap {
  background: none;
  height: auto;
  max-height: 400px;
  margin: 0;
  padding: 0;
  margin-right: 0;
  padding-right: 0;
  overflow-y: hidden;
}

.infoData li .leftData {
  float: left;
}

.infoData li .rightData {
  float: right;
  text-align: right;
}

.infoData li span {
  font-family: gothamL;
}

.infoData li::after {
  content: "";
  display: block;
  clear: both;
}

.resRoomWrap .rightCont .scrollWrap .infoData + .infoData {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px dashed #ccc;
}

.resRoomWrap .rightCont .rContList > li.toggleOn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 100%;
  background: black;
  z-index: 1;
}

.resRoomWrap .rightCont .totalCont .totalPrice {
  position: relative;
  padding: 80px 0 27px 0;
}

.resRoomWrap .rightCont .totalCont .totalPrice .txt {
  font-size: 22px;
}

.resRoomWrap .rightCont .totalCont .totalPrice .subTxt {
  position: absolute;
  top: 37px;
  right: 0;
  font-size: 18px;
}

.resRoomWrap .rightCont .totalCont .totalPrice .price {
  position: absolute;
  bottom: 14px;
  right: 0;
  font: 600 26px gothamL, notokrL;
}

.resRoomWrap .rightCont .totalCont .totalPrice .price em {
  display: inline-block;
  vertical-align: -4px;
  font: 500 40px playfair;
  margin-right: 3px;
  font-feature-settings: "lnum", "pnum";
}

.resRoomWrap .rightCont .totalCont .btnArea {
  margin-top: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.resRoomWrap .rightCont .totalCont .btnArea div {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.resRoomWrap .rightCont .totalCont .btnArea .btnRsv {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  display: block;
  background: black;
  color: white;
  height: 60px;
  line-height: 58px;
  position: relative;
  border-style: border-box;
  border: 1px solid black;
  transition-property: color;
  transition-duration: 00.5s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  z-index: 1;
  font-family: gothamL, notokrL;
}

.btnRsv::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  background: white;
  width: 130%;
  height: 100%;
  /* transform */
  transition-property: all;
  transition-duration: 00.5s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}

.resRoomWrap .rightCont .totalCont .btnArea div + div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  width: 1px;
  height: 20px;
  background: #808080;
  z-index: 99;
}

p.textGuide2 {
  position: relative;
  color: black;
  padding-left: 16px;
  font-size: 16px;
  font-family: gothamL, notokrL, playfair;
}

p.textGuide2::before {
  content: "\203B";
  position: absolute;
  left: 0;
  top: 2px;
  font: 600 14px notokrL;
}

.resRoomWrap .leftCont .infoList {
  margin-top: 42px;
}

.infoList > li .tit {
  display: inline-block;
  position: relative;
}

.infoList > li .tit label {
  display: inline-block;
  font-family: gothaM, notokrM;
  font-size: 14px;
  line-height: 1;
  color: black;
  text-transform: uppercase;
}

.infoList > li .essential {
  display: inline-block;
  width: 6px;
  height: 6px;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  padding-right: 4px;
  vertical-align: 2px;
}

.infoList > li .essential:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -4px;
  width: 6px;
  height: 6px;
  background-image: url(../images/essential.png);
}

.infoList > li .intWrap + .infoInner {
  margin-top: 3px;
}

.infoList > li .infoInner {
  display: inline-block;
  position: relative;
}

.infoBox {
  padding: 16px 0 5px 0;
}

.choice {
  display: inline-block;
  position: relative;
}

.choice input[type="radio"] {
  position: absolute;
  left: 12px;
  top: 16px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.choice label {
  display: inline-block;
  position: relative;
  font-size: 17px;
  padding-left: 35px;
  font-family: gothamL, notokrL;
  text-transform: uppercase;
}

.choice input[type="radio"] + label::before {
  background-position: -52px -13px;
}

.choice label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 26px;
  height: 26px;
  background-image: url(../images/button_ico.png);
}

.infoBox .choice + .choice {
  margin-left: 18px;
}

.infoList > li + li {
  margin-top: 30px;
}
